/* Wrap code lines */
/* Break long words */
/*
code, pre {
    white-space: pre-wrap; 
    word-wrap: break-word; 
}
*/

.htb-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('/assets/img/ico/htb_lab.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}